:root {
  --primary-green-color: #05674a;
  --white-color: #ffffff;
  --fade-green-color: #90f7a7;
  --menu-color: #011c14;
  --fade-menu-color: #282929;
}

@import "./Layout.scss";
@import "antd/dist/antd.css";
@import "./Auth.scss";
@import "aos/dist/aos.css";
@import "react-big-calendar/lib/css/react-big-calendar.css";
// menu override

// S I D E - D R A W E R

@media (min-width: 600px) {
  .makeStyles-drawerClose-18 {
    width: 57px;
  }
  .makeStyles-toolbar-179 {
    min-height: 52px !important;
  }
}
